form .input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
form .input-wrapper label{
    margin-bottom: 8px;
}
h2{
    text-align: center;
}

fieldset{
    margin-bottom: 20px;
}



.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  display: none !important;
}

.react-datepicker__month-read-view--selected-month, 
.react-datepicker__year-read-view--selected-year{
    font-size: 16px;
    font-weight: 500;
}

.react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view--down-arrow{
    height: 4px;
    width: 4px;
    top: 5px;
    right: -13px;
    border-color: rgb(37, 34, 34);
    border-top-color:  rgb(37, 34, 34);
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow{
    border-top-color:  rgb(37, 34, 34);
}